html, body {
    margin: 0;
    padding: 0;
}  

/*============================= NAVIGATION BAR ============================================================*/
.navbar{
    position:sticky;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    background-color:rgb(219, 218, 218);
    height: 5.5vw;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
}

.navbar-title{
    font:italic;
    font-weight: 400;
    color:black;
}

.navbar-left{
    display: flex;
    margin-left: 2%;
    font-size: 1.1vw;
}
.navbar-center{
    display:flex;
    justify-content: space-between;
    gap:20px;
    font-size: 1.1vw;
}
.navbar-right{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:9px;
    margin-right: 2%;
}

.navbar-search{
    position: relative;
    align-items: center;
    display: flex;
    background-color: #ffffff00;
    border-radius: 30px;
    height:2.5%;
    width: 25vw;
}

.navbar-search input{
    border-radius: 30px;
    height:2.5vw;
    width: 25vw;
    padding-left: 1.2vw;
    border: none;
    font-size: 1vw;
}

input::placeholder{
    font-family:'Times New Roman', Times, serif;
    position:absolute;
    left: 1.2vw;
    font-size: 1vw;
    bottom: 25%
}
.navbar-search input::-webkit-search-cancel-button,
.navbar-search input::-webkit-search-decoration{
    display: none;
}
input:focus {
    border-color: #595959; /* Change to your desired color */
    border-width: 0.1vw; /* Set the border width */
    border-style: solid; /* Set the border style */
    outline: none;
}
.search-button{
    right: 2%;
    position: absolute;
    background-color: #ffffff00;
    color: rgb(3, 3, 3);
    border: none;
    padding: 3%;
    cursor: pointer;
    z-index: 1000;
    padding-top: 1vw;
}
.search-button img{
   width: 1.4vw;
}

.icon{
    width: 1.4vw;
    padding: 0.5vw;
}

.navbar-icons{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-left: 1.9vw;
    gap:0.3vw;
    transition: background-color 0.5s, color 0.5s, border 0.3s;
}
.navbar .icon:hover{
    background-color: #b0967b41;
    border-radius: 40%;
    cursor: pointer;
}

.bag{
    position: relative;
}
.bag-icon{
    position: absolute;
    top: 0%;
    right: 1%;
    width: 1.3vw;
}
.text-overlay {
    position: absolute;
    top: 25%;
    right: 4%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 1.1vw;
    z-index: 1000;
}

.navbar a{
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
    color:#1b1a1a;
}
.navbar a:hover{
    color:#b0967b;
}
.nav-mobile{
    display: none;
}

/*============================= GENERAL ============================================================*/
.text-size{
    font-size: 1.3vw;
}

.btn-general{
    background-color: #ffffff;
    color: #000000;
    border:1px solid #B7926A;
    box-shadow:2.5px 2.5px #f5f5f5;
    width: 100%;
    padding: 20px;
    font-size: 1.3vw;
    padding: 5%;
    transition: box-shadow 0.3s, color 0.3s, border 0.3s;
    font-family: 'Montserrat', sans-serif;
}
.btn-general:hover{
    box-shadow:5px 5px #eae9e9;
    cursor: pointer;
}

.item{ /*contains basic positioning and font size*/
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:#ffffff;
    border:none;
}

.description-box{
    width: 20%;
    height: auto;
    background-color: rgb(255, 255, 255);
    margin-right: 5%;
    padding: 0;
    padding-bottom: 5%;
}
.description-box .item{
    justify-content:flex-start;
}

.description-box .title{
    font-size: 3.6vw;
    margin-bottom: 2vw;
}
.description-box .description-text{
    margin: 0;
    margin-bottom: 2vw;
    color:#6f6f6f;
}
.description-text{
    font-family: 'Montserrat', sans-serif;
    line-height: 2vw;
}

/*============================= TOP SECTION ============================================================*/

.top-section{
    position: relative;
    margin-top: 1%;
    margin-bottom: 5%;
    height: 41vw;
    display: flex;
    flex-direction: column; 
    background-color: #B7926A;
}

.top-image{
    width:100%;
    object-fit: cover;
    overflow-y: hidden;
}

.top-text{
    position: absolute;
    top: 40%;
    color:#ffffff;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
}

.curated-selections{
    font-size: 5.6vw;
}

.top-text .description-text{
    position: relative;
    width: 40vw;
}

.top-section button{
   width: 18vw;
   padding: 0.5vw;
   border: none;
   font-size: 1.3vw;
   font-family: 'Montserrat', sans-serif;
   transition: background-color 0.3s, color 0.3s, border 0.3s;
}
.top-section button:hover{
    background-color: #dfbc97;
    cursor: pointer;
}

.top-section .top-buttons{ 
    padding-top: 2vw;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1vh;
}

.shop-now{
    background-color: rgb(176, 142, 99);
    color:#ffffff;
}

/*============================= CONTENT SECTION ============================================================*/

.content{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color:#ffffff;
    margin-right: 5%;
    margin-left: 5%;
}

/*============================= SECTION-1 ============================================================*/
.carousel .btn-general{
    width:25%;
    padding: 1%;
    background-color: rgb(41, 37, 35);
    color: #B7926A;
    box-shadow: none;
}

.carousel{
    position: relative;
    width: 68%;
    padding-right: 5%;
    box-sizing: border-box;
}

.carousel .item{
    width: 100%;
    height: 30vw;
    align-items: center;
    background-color: rgb(41, 37, 35);
    color:#B7926A;
}

.carousel img{
    width:100%;
    height: auto;
    object-fit: cover;
}
.carousel .glide__slide {
    margin: 0 !important; 
    padding: 0 !important; 
    flex: 0 0 auto;
    box-sizing: border-box;
    width: 100%;
}
.carousel .glide__track {
    overflow: hidden;
}
.carousel .glide__arrow{
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    background: none;
    box-shadow: none;
    cursor: pointer;
    border-radius: 50%;
}
.carousel .glide__arrow img{
    width: 2.2vw;
    border-radius: 50%;
    padding: 0.4vw;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}
.carousel .glide__arrow img:hover{
    background-color: #f3f3f3;
}
.glide__slide .icon{
    padding: 2.5vw;
    width: 10vw;
}
.glide__slide .title{
    font-size: 1.75vw;
    width: 70%;
    text-align: center;
}
.glide__slide .description-text{
    margin-top: 5%;
    color:antiquewhite;
    width: 70%;
    text-align: center;
    font-size: 0.9vw;
}

.carousel .glide__arrow:hover{
 color:#1b1a1a
}

.carousel .glide__arrow--left{
    left: -6.5vw;
}

.carousel .glide__arrow--right{
    right: -6.5vw;
}

/*============================= SECTION-2 ============================================================*/

.grid1{
    position:relative;
    display: grid;
    grid-template-columns: 44vw 44vw;
    border: none;
    overflow: hidden;
    width: 100%;
    height: auto; 
    margin-top: 5%;
    gap: 2%;
}

.grid1 .item{
    height: auto;
    align-items: normal;
    justify-content: flex-start;
    background-color: rgb(243, 241, 241);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.grid1 .item:hover{
    transform: translateY(-0.1vw) scale(1.02);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.13);
    opacity: 0.9;
}

.grid1 .item .description{
    position: relative;
    height: 100%;
    width:inherit;
    background-color:  rgb(243, 241, 241);
    margin-left: 5%;
    margin-right: 5%;
    justify-content: space-between;
    padding-bottom: 2vw;
}
.grid1 .item .description .title{
    font-size: 1.9vw;
}
.grid1 .item .description-text{
    font-size: 1vw;
}
.learn-more{
    color: #997660;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2vw;
}
.learn-more img{
    width: 0.8vw;
}

/*============================= SECTION-3 ============================================================*/
.grid2{
    position:relative;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 35vw;
    border: none;
    overflow-y: hidden;
    overflow-x: hidden;
    width: 75%;
    margin-top: 5%;
    gap: 1%;
    background-color: #ffffff;
}

.grid2 .item{
    justify-content: flex-start;
}

.grid2 .description-box{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-top: 3%;
    background-color: rgb(255, 255, 255);
    height: auto;
    font-size: 1vw;
}
.grid2 .description-text{
    width: 90%;
    margin-bottom: 0.5vw;
}
.grid2 .item{
    object-fit: cover;
    overflow: hidden;
}

.price{
    color: #997660;
    text-decoration: none;
    position: relative;
    font-size: 1.2vw;
}

/*============================= SECTION-4 ============================================================*/
.insta-preview{
    margin-top: 7vw;
    margin-bottom: 0;
    width: 75%;
}
#description-box-3{
    margin-bottom: 22.5vw;
}
/*============================= SECTION-5 ============================================================*/

.grid4{
    position:relative;
    display: grid;
    grid-template-columns: 50% 50%;
    border: none;
    width: 100%;
    background-color: #ffffff;
    overflow: hidden;
    margin-top: 5%;
}

.grid4 .item{
    align-items: center;
    justify-content: center;
    height: 30vw;
    background-color: rgb(41, 37, 35);
    color:#B7926A;
}

.grid4 iframe{
    width: 100%;
    height: 100%;
}

.grid4 .title{
    font-size: 2vw;
    color: antiquewhite;
}
.grid4 .icon{
    width: 3vw;
}

/*============================= FOOTER ============================================================*/

footer{
    margin-top: 5%;
    border:none;
    display: flex;
    border-top: 1px solid #a2794e;
    background-color:#ffffff;
    align-items: center;
    justify-content: center;
    padding: 5%;
}

footer .item{
    width: 40%;
    font-size: 1.1vw;
}

footer .btn-general{
    margin-top: 20px;
    padding: 8px;
}
footer .description, .email, #email{
    font-family: 'Montserrat', sans-serif;
}

footer #email{
    border:none;
    border-bottom: 1px solid #1b1a1a;
}

footer .grid5{
    margin-left: 10%;
    position:relative;
    display: grid;
    grid-template-columns: 40% 22.5% 22.5%;
    gap: 10%;
    border: none;
    width: 75%;
    background-color:#ffffff;
    overflow: hidden;
    font-size: 1vw;
    font-family: 'Montserrat', sans-serif;
}

footer .item .title{
    font-size: 1.5vw;
    color: #1b1a1a;
}
footer .item .subtitle{
    font-weight: bold;
    font-size: 1.2vw;
}

footer .grid5 .title{
    border-bottom: 1px solid #997660;
    font-size: 1.2vw;
    color: #997660;
}

.grid5 .section .title{
    border-bottom: none;
}
.grid5 .section .a{
    padding: 10vw;
}
.footer .navbar-icons{
    margin-top: 10%;
    gap:0.05vw;
    padding: 0;
}
.footer .icon{
    width: 1.5vw;
}
.btn-icons{
    background-color: #ffffff00;
    border-radius: 25%;
    border-color: #ffffff00;
    cursor: pointer;
    padding: 0;
}
.btn-icons:hover{
    background-color: #b0967b12;
}
.footer a{
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
    color:#1b1a1a;
    padding-bottom: 5%;
}
.footer a:hover{
    color:#b0967b;
}

.copyright{
    font-family: 'Montserrat', sans-serif;
    font-size: 1vw;
    width: 80%;
    padding-left: 5vw;
    padding-bottom: 2vw;
}

.footer-mobile{
    display: none;
}
.signup{
    font-size: 1vw;
}