@media (max-width: 600px) { 
    .navbar{
        display: none;
    }
    .footer{
        display: none;
    }
    .nav-mobile{
        position: relative;
        box-sizing: border-box;
        width: 100%;
        margin: 0;
        padding-left: 2vw;
        padding-right: 2vw;
        background-color:rgb(207, 205, 205);
        height: 17vw;
        z-index: 1000;
        display: flex;
        align-items:last baseline;
        padding-bottom: 4vw;
        justify-content:space-between;
    }
    .search-btn-mobile{
        position: absolute;
        margin-left: 10vw;
        font-size: 3vw;
        background-color:#c0b9b400;
        border: none;
        cursor: pointer;
        padding: 0;
    }
    .menu-btn{
        position: absolute;
        background-color:#c0b9b400;
        border: none;
        cursor: pointer;
        padding: 0;
    }
    .nav-mobile .search-mobile{
        display: none;
    }
    .nav-mobile .navbar-search{
        position: absolute;
        margin-left: 18%;
        border-radius: 30px;
        height:8vw;
        width: 60vw;
        bottom: 4vw;
    }
    .nav-mobile .navbar-search input{
        border-radius: 30px;
        height:8vw;
        width: 60vw;
        padding-left: 3vw;
        font-size: 3vw;
    }
    
    .nav-mobile input::placeholder{
        font-family:'Times New Roman', Times, serif;
        position:absolute;
        left: 3vw;
        font-size: 3vw;
        bottom: 2vw;
    }
    .nav-mobile img{
        width: 6vw;
    }
    .navbar-center{
        font-size: 6vw;
        margin-left: 38vw;
    }
    .navbar-left, .navbar-icons{
        gap:4vw;
        align-items: last baseline;
    }
    .navbar-left{
        position: absolute;
        top: 13vw;
    }
    .text-size{
        font-size: 3.25vw;
    }
    .description-box .title{
        font-size: 8vw;
    }
    .description-text{
        line-height: 5vw;
    }
    .content{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0;
        overflow-x: hidden;
    }
    .carousel{
        width: 100%;
        padding-right: 0;
        margin-bottom: 5vw;
    }
    .carousel .item{
        height: 90vw;
    }
    .carousel .glide__arrow{
        display: none;
    }
    .carousel .btn-general{
        font-size: 3vw;
    }
    .glide__track, .glide__slides {
        display: block !important; /* Override Glide.js styles */
    }
    .grid1, .grid2, .grid4{
        display: flex;
        flex-direction: column;
        margin-top: 0;
        gap: 5vw;
        width: 90%;
        margin-left: 5vw;
        margin-right: 5vw;
        margin-bottom: 6vw;
    }
    .grid4{
        gap:0;
    }
    .grid2 .item, .grid4 .item{
        height: 94vw;
    }
    .grid1 .item{
        height: 99vw;
    }
    .grid1 .item .description .title{
        font-size: 4.4vw;
    }
    .grid1 .item .description{
        padding-bottom: 0;
    }
    .grid1 .item .description-text, .learn-more{
        font-size: 3.25vw;
    }
    .learn-more img{
        width: 2.5vw;
    }
    .grid2 .description-box{
        padding-bottom: 0;
        font-size: 3.1vw;
    }
    .price{
        font-size: 3.5vw;
    }
    #description-box-3{
        margin-bottom: 0;
    }
    .insta-preview{
        margin-top: 0;
        padding-top: 0;
        width: 90%;
    }
    .grid4 .title{
        font-size: 5vw;
    }
    .grid4 .icon{
        width:8vw;
    }
    .glide__slide .icon{
        padding: 5vw;
        width: 30vw;
    }
    .glide__slide .title{
        font-size: 5vw;
        width: 50vw;
        text-align: center;
    }
    .glide__slide .description-text{
        margin-top: 5%;
        color:antiquewhite;
        width: 70vw;
        text-align: center;
        font-size: 3.25vw;
    }    
    .description-box{
        width: 85%;
    }
    .btn-general{
        width: 35%;
        padding: 2%;
        font-size: 3vw;
    }
    .top-section{
        margin: 0;
        height: 90vw;
    }
    .top-image{
        object-fit: cover;
        width: auto;
        height: 90vw;
    }
    .top-section button{
        font-size: 2.8vw;
        padding: 6%;
        width: 100%;
     }
     .top-section .top-buttons{
        width: 50%;
        gap: 2vw;
     }
     .top-text{
        top: 35%;
    }
    .top-section .description-text{
        width: 80vw;
    }
    .curated-selections{
        font-size: 10vw;
    }

    .footer-mobile{
        display: flex;
        flex-direction: column;
        align-items: normal;
    }
    .footer-mobile .title{
        display: flex;
        justify-content: space-between;
        padding: 5vw;
        border-bottom: 1px solid #c0b9b4;
        font-size: 4vw;
        color: #000000;
    }
    .footer-mobile .item{
        width: 100%;
        margin-bottom: 5%;
    }
    .footer-mobile .btn-general{
        width: 100%;
    }
    .dropdown-icon {
        font-size: 2vw;
    }
    .footer-mobile .navbar-icons{
        margin-top: 5%;
        gap:0.4vw;
        padding-left: 0;
    }
    .footer-mobile .icon{
        width: 6vw;
    }
    html, body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    } 
    .footer-mobile{
        border: none;
    }
    .footer-mobile .btn-general{
        border-color: black;
        color: black;
        margin-top: 20px;
        padding: 10px;
    }
    .footer-mobile .email{
        font-size: 3.5vw;
        font-weight: bold;
    }
    .footer-mobile .item .subtitle{
        font-size: 5vw;
        font-weight: 100;
    }
    .footer-mobile #email{
        border:none;
        border-bottom: 1.5px solid #c9a67f;
    }
    .footer-mobile .title{
        align-items: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 4vw;
        padding-left: 0;
    }
    .footer-mobile .signup{
        font-size: 4vw;
    }

    .sidenav{
        display: block;
    }

    .sidenav {
    position: absolute;
    height: 84vw;
    width: 0;
    z-index: 1;
    top: 17vw;
    left: 0;
    background-color: #111111ce;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 6vw;
  }
  
  .sidenav a {
    padding: 3vw 3vw 3vw 3vw;
    text-decoration: none;
    font-size: 5vw;
    color: #cecece;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 2vw;
    font-size: 8vw;
    margin-left: 50px;
  }
  /* Open state */
  .sidenav.open {
    width: 50vw; 
  }
  .dropdown{
    display: flex;
    flex-direction: column;
  }
  .footer-mobile .section, .footer-mobile .section a{
    font-size: 3.5vw;
    text-decoration: none;
    color: #000000;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
    font-family: 'Montserrat', sans-serif;
  }

#customer-service, #information, #more{
    display: none;
}

#person{
    width: 6.5vw;
}
}