@media (max-width: 600px) { 
    .navbar{
        display: none;
    }
    .footer{
        display: none;
    }
    .nav-mobile{
        box-sizing: border-box;
        width: 100%;
        margin: 0;
        background-color:rgb(207, 205, 205);
        height: 12.5vh;
        z-index: 1000;
        display: flex;
        align-items: center;
        justify-content:space-between;
    }
    .search-button{
        position: relative;
        font-size: 3vw;
    }
    .nav-mobile img{
        width: 5vw;
    }
    .navbar-center{
        font-size: 5vw;
    }
    .navbar-left, .navbar-icons{
        gap:5vw;
    }
    .navbar-icons{
        width: 3vw;
    }
    .navbar-right{
        margin-right: 17%;
    }
    .text-size{
        font-size: 3.1vw;
    }
    .description-box .title{
        font-size: 5vw;
    }
    .description-text{
        line-height: 5vw;
    }
    .content{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0;
        overflow-x: hidden;
    }
    .carousel{
        width: 100%;
        padding-right: 0;
        margin-bottom: 5vw;
    }
    .carousel .item{
        height: 90vw;
    }
    .carousel .glide__arrow{
        display: none;
    }
    .carousel .btn-general{
        font-size: 2.5vw;
    }
    .glide__track, .glide__slides {
        display: block !important; /* Override Glide.js styles */
    }
    .grid1, .grid2, .grid4{
        display: flex;
        flex-direction: column;
        margin-top: 0;
        gap: 5vw;
        width: 90%;
        margin-left: 5vw;
        margin-right: 5vw;
        margin-bottom: 6vw;
    }
    .grid4{
        gap:0;
    }
    .grid2 .item, .grid4 .item{
        height: 94vw;
    }
    .grid1 .item{
        height: 97vw;
    }
    .grid1 .item .description .title{
        font-size: 4vw;
    }
    .grid1 .item .description{
        padding-bottom: 0;
    }
    .grid1 .item .description-text, .learn-more{
        font-size: 3.1vw;
    }
    .learn-more img{
        width: 1.8vw;
    }
    .grid2 .description-box{
        padding-bottom: 0;
        font-size: 3.1vw;
    }
    .price{
        font-size: 3.5vw;
    }
    #description-box-3{
        margin-bottom: 0;
    }
    .insta-preview{
        margin-top: 0;
        padding-top: 0;
        width: 90%;
    }
    .grid4 .title{
        font-size: 5vw;
    }
    .grid4 .icon{
        width:8vw;
    }
    .glide__slide .icon{
        padding: 5vw;
        width: 25vw;
    }
    .glide__slide .title{
        font-size: 4.5vw;
        width: 50vw;
        text-align: center;
    }
    .glide__slide .description-text{
        margin-top: 5%;
        color:antiquewhite;
        width: 50vw;
        text-align: center;
        font-size: 2.8vw;
    }    
    .description-box{
        width: 85%;
    }
    .btn-general{
        width: 30%;
        padding: 1%;
        font-size: 3vw;
    }
    .top-section{
        margin: 0;
        height: 90vw;
    }
    .top-image{
        object-fit: cover;
        width: auto;
        height: 90vw;
    }
    .top-section button{
        font-size: 2.8vw;
        padding: 6%;
        width: 100%;
     }
     .top-section .top-buttons{
        width: 35%;
     }
     .top-text{
        top: 35%;
    }
    .top-section .description-text{
        width: 70vw;
    }
    .curated-selections{
        font-size: 9vw;
    }

    .footer-mobile{
        display: flex;
        flex-direction: column;
        align-items: normal;
    }
    .footer-mobile .title{
        display: flex;
        justify-content: space-between;
        padding: 5vw;
        border-bottom: 1px solid #c0b9b4;
        font-size: 4vw;
        color: #000000;
    }
    .footer-mobile .item{
        width: 100%;
        margin-bottom: 5%;
    }
    .footer-mobile .btn-general{
        width: 100%;
    }
    .dropdown-icon {
        font-size: 2vw;
    }
    .footer-mobile .navbar-icons{
        margin-top: 5%;
        gap:0.05vw;
        padding-left: 0;
    }
    .footer-mobile .icon{
        width: 4vw;
    }
    html, body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    } 
    .footer-mobile{
        border: none;
    }
    .footer-mobile .btn-general{
        border-color: black;
        color: black;
        margin-top: 20px;
        padding: 10px;
    }
    .footer-mobile .email{
        font-size: 3.2vw;
        font-weight: bold;
    }
    .footer-mobile .item .subtitle{
        font-size: 3.8vw;
        font-weight: 100;
    }
    .footer-mobile .title{
        align-items: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 3.2vw;
        padding-left: 0;
    }

}